  <div>
      <section class="container-fluid upperSection">
            <header>
                <h1> About Us </h1>
<!--                <hr>-->
                <h3> Our Goals and Visions </h3>
            </header>
        </section>

        <section class="container pageBody">

            <h1>About</h1>
            <div>
                <p>The Computer Science and Engineering Association is a multipurpose student organization at the American University in Cairo, that unites students of the Computer Science and Engineering Department and strives to achieve their interests in all various forms</p>
            </div>

            <h1>Our Mission</h1>
            <div>
                <p>
                Our vision for the association is to represent the computer science and engineering students at the American University in Cairo.

                Our main objective is facilitating communication between departments and students and the outer world as well.

                We aim at providing a long lasting stable organization that would put this vision into action.
                </p>
            </div>
        </section>
    </div>
